<!DOCTYPE html>
<html ng-app="calendarDemoApp">
<head>
	<title>Calendar Directive Challenge</title>
	<link rel="stylesheet" type="text/css" href="main.css" />
</head>
<body ng-controller="AppCtrl">

	<nav class="nav">
		<div class="div">
			<select ng-model="date.month">
					<option ng-repeat="month in months"
							value="{{ $index }}" 
							ng-selected="$index == date.month">{{ month.name }}</option>
			</select>

			<select ng-model="date.year">
				<option ng-repeat="year in years" 
						value="{{ year }}" 
						ng-selected="year == date.year">{{ year }}</option>
			</select>
		</div>

		<div class="calendar-container head">
			<span class="calendar-cell name" 
				  ng-repeat="day in weekdays">{{ day.name }}</span>
		</div>
	</nav>

	<div my-calendar="currentDate" 
		 ng-click="selection(day.date)"
		 ng-class="{outer: !isCurrentMonth(day.date), 
		 			selected: day.date == selectedDay, 
		 			current: date.day == today}">{{ day.date | date: 'd' }}</div>

	<nav class="dates">
		<span class="updated">Current Date: <b>{{today | date:'EEEE, MMMM d y'}}</b></span>
		<span class="updated">Selected Date: <b>{{day.date = selectedDay | date:'EEEE, MMMM d y'}}</b></span>
	</nav>

	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="utilities/calendar-range/calendarRange.js"></script>
	<script type="text/javascript" src="app.js"></script>
</body>
</html>